*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #212121;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    color: white;
    -webkit-text-stroke: lightblue 0.5px;
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
}  

h3{
    color: white;
    -webkit-text-stroke: lightblue 0.5px;
    text-align: center;
    font-size: 30px;
    margin-top: 45px;
}

#Time{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    color: white;
    -webkit-text-stroke: lightblue 0.5px;
}

#Date{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    color: white;
    -webkit-text-stroke: lightblue 0.5px;
}